[package]
name = "sharding_tests"
version = "0.1.0"
edition = "2024_07"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet = "2.9.2"
openzeppelin = "0.20.0"
openzeppelin_testing = "0.20.0"
snforge_std = "0.34.0"

[dev-dependencies]
snforge_std = "0.34.0"
assert_macros = "2.9.2"

[lib]
sierra = true
casm = true

[[target.starknet-contract]]
sierra = true

[scripts]
test = "snforge test"

[features]
test_contract = []
